*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

header{
	width: 100%;
	height: 110px;
	background-color: #181818;
}

.headerDiv {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.headerLogoDiv{
	width: auto;
	height: 100%;
	margin: 0 50px;
}

.headerLogoDiv img {
	width: 100px;
	transition: 0.5s;
}

.headerLogoDiv img:hover {
	opacity: 0.5;
	transition: 0.5s;
}

.headerMenuDiv {
	width: 400px;
	height: 100%;
	margin: 0 50px;
}

.headerMenuDiv ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 0;
	align-items: center;
}

.headerMenuDiv ul li {
	width: auto;
	height: auto;
	text-decoration: none;
	list-style: none;
}

.headerMenuDiv ul li a {
	width: auto;
	height: auto;
	font-size: 18px;
	text-decoration: none;
	list-style: none;
	color: #c78c40;
	transition: 0.5s;
	font-family: 'Red Hat Display', sans-serif;
}

.headerMenuDiv ul li a:hover {
	color: #ffffff;
	transition: 0.5s;
}

.secnav{
	width: 100%;
	height: 60px;
    background-color: #dcdcdc;
}

.secnav ul {
	width: 800px;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;
}

.secnav ul li {
	width: auto;
	height: auto;
	list-style: none;
	align-items: center;
}

.secnav ul li a {
	width: auto;
	height: auto;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	transition: 0.3s;
}

.secnav ul li a:hover {
	color: #c78c40;
	transition: 0.3s;
}





@media screen and (max-width: 1000px) {

	.secnav ul {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.teldiv {
		width: 90% !important;
	}

	.mapdiv {
		width: 90%;
	}

	.mapdiv iframe {
		width: 100%;
	}

	.lastdiv {
		width: 90% !important;
	}
}

@media screen and (max-width: 600px) {

	.headerLogoDiv {
		margin: 0 0 0 50px;
	}

	.headerMenuDiv {
		width: 100%;
		margin: auto 25px;
	}

}

@media screen and (max-width: 500px) {

	header {
		height: auto;
	}

	.headerMenuDiv {
		width: auto;
		height: 50px;
		margin: auto;
	}

	.headerLogoDiv {
		margin: auto;
		text-align: center;
	}

	.headerDiv {
		display: block;
	}

	.secnav {
		height: 40px;
	}

	.secnav ul li a {
		font-size: 12px;
	}

}





.contactus{
    font-size: 30px;
    text-align: center;
    margin: 12px;
}

.contdiv{
	width: 80%;
	margin: 30px auto;
	text-align: center;
	font-family: 'Quattrocento Sans', sans-serif;
}

.teldiv{
	width: 600px;
	height: 300px;
	background-color: #D0D0D0;
	border: 0.5px solid #BBBBBB;
	font-family: 'Quattrocento Sans', sans-serif;
    font-size: 30px;
    padding-top: 20px;
	margin: 30px;
}

.tel{
	padding-top: 20px;
	text-align: center;

}
.contdiv p {
    padding-top: 20px;
}

.monday{
	padding-top: 30px;
	font-size: 20px;
	padding-left: 20px;
}

.mail{
	padding-top: 20px;
	font-size: 20px;
	padding-left: 20px;
}

.adr{
	padding-top: 20px;
	font-size: 20px;
	padding-left: 20px;
}

.conn{
	text-align: center;
}

.rcontdiv{
	max-width: 1400px;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.mapdiv{
	justify-content: flex-start;
    border: 2px solid black;
	margin: 30px;
}

.lastdiv{
	width: 600px;
	height: 300px;
	background-color: #D0D0D0;
	border: 0.5px solid #BBBBBB;
	font-family: 'Quattrocento Sans', sans-serif;
    font-size: 30px;
    padding-top: 20px;
	margin: 30px;
}

iframe{
	width: 600px;
	height: 320px;
}

.clwr{
	text-align: center;
}

.ldcl{
    padding-top: 20px;
    padding-left: 10px; 
	font-size: 20px;
}









form{
	display: flex;
	flex-direction: column;
	align-items: center;
}



input,textarea{
	padding: 10px;
	width: 300px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #efefef ;
}




















footer {
	width: 100%;
	height: auto;
	background-color: #181818;
}

.footerDivs {
	max-width: 1200px;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 30px;
	line-height: 30px;
	color: white;
	font-family: 'Red Hat Display', sans-serif;
	flex-wrap: wrap;
}

.footerDiv {
	width: 200px;
	height: auto;
}

.footerDivs h3 {
	margin: 30px 0;
}

.footerDivs ul li a {
	color: white;
	font-family: 'Red Hat Display', sans-serif;
	transition: 0.5s;
}

.footerDivs ul li a:hover {
	color: #c78c40;
	transition: 0.5s;
}