*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

header{
	width: 100%;
	height: 110px;
	background-color: #181818;
}

.headerDiv {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.headerLogoDiv{
	width: auto;
	height: 100%;
	margin: 0 50px;
}

.headerLogoDiv img {
	width: 100px;
	transition: 0.5s;
}

.headerLogoDiv img:hover {
	opacity: 0.5;
	transition: 0.5s;
}

.headerMenuDiv {
	width: 400px;
	height: 100%;
	margin: 0 50px;
}

.headerMenuDiv ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 0;
	align-items: center;
}

.headerMenuDiv ul li {
	width: auto;
	height: auto;
	text-decoration: none;
	list-style: none;
}

.headerMenuDiv ul li a {
	width: auto;
	height: auto;
	font-size: 18px;
	text-decoration: none;
	list-style: none;
	color: #c78c40;
	transition: 0.5s;
	font-family: 'Red Hat Display', sans-serif;
}

.headerMenuDiv ul li a:hover {
	color: #ffffff;
	transition: 0.5s;
}

.secnav{
	width: 100%;
	height: 60px;
    background-color: #dcdcdc;
}

.secnav ul {
	width: 800px;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;
}

.secnav ul li {
	width: auto;
	height: auto;
	list-style: none;
	align-items: center;
}

.secnav ul li a {
	width: auto;
	height: auto;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	transition: 0.3s;
}

.secnav ul li a:hover {
	color: #c78c40;
	transition: 0.3s;
}





@media screen and (max-width: 1000px) {

	.secnav ul {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {

	.headerLogoDiv {
		margin: 0 0 0 50px;
	}

	.headerMenuDiv {
		width: 100%;
		margin: auto 25px;
	}

}

@media screen and (max-width: 500px) {

	header {
		height: auto;
	}

	.headerMenuDiv {
		width: auto;
		height: 50px;
		margin: auto;
	}

	.headerLogoDiv {
		margin: auto;
		text-align: center;
	}

	.headerDiv {
		display: block;
	}

	.secnav {
		height: 40px;
	}

	.secnav ul li a {
		font-size: 12px;
	}

}





body{
    background-color: #dcdcdc;
}

.neckimg{
    width: 100%;
	margin: auto;
}

.necklaceimg{
    width: 100%;
	margin: auto;
}

.mkorsimg{
    width: 100%;
	margin: auto;
}

.raybanone{
    width: 100%;
	margin: auto;
}

.watchmil{
    width: 100%;
	margin: auto;
}

.watchnix{
    width: 100%;
	margin: auto;
}

.axone{
    width: 100%;
	margin: auto;
}

.axtwo{
    width: 100%;
	margin: auto;
}

.galaxyimg{
    width: 100%;
	margin: auto;
}

.swaroneimg{
    width: 100%;
	margin: auto;
}

.mkorscardimg{
    width: 100%;
	margin: auto;
}

.mainimg{
	max-width: 500px;
	width: 50%;
	display: flex;
	margin: auto 20px;
}

main{
	width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
	flex-wrap: wrap;
    background-color: white;
    margin: 50px auto;
	padding: 50px;
}

.context{
	width: auto;
	line-height: 70px;
	justify-content: flex-start;
	margin: auto 20px;
}

.context h1{
    font-family: 'Red Hat Display', sans-serif;
    color: #323232;
}

.context p{
    font-family: 'Red Hat Display', sans-serif;
    color: #323232;
}

.context h4{
    font-size: 30px;
    font-family: 'Red Hat Display', sans-serif;
    color: #323232;
}


.buy{
    width: 210px; 	
    height: 60px;
    border:  1px solid black;
    font-family: 'Red Hat Display', sans-serif;
    background-color: black;
    color: white;
}

.buy:hover{
	color: #c78c40;
	background-color: black;
	transition: 0.5s;
}




@media screen and (max-width: 800px) {

	main {
		padding: 20px 0;
	}

	.mainimg {
		width: 100%;
		margin: 30px;
	}

	.context {
		width: 100%;
		margin: 30px;
		text-align: center;
	}
}


@media screen and (max-width: 500px) {

	.mainimg {
		margin: 15px 30px;
	}

	.context {
		margin: 15px;
		line-height: 50px;
	}
	.context h1{
		font-family: 'Red Hat Display', sans-serif;
		font-size: 20px;
		color: #323232;
	}
	
	.context p{
		font-family: 'Red Hat Display', sans-serif;
		font-size: 12px;
		color: #323232;
	}
	
	.context h4{
		font-size: 20px;
		font-family: 'Red Hat Display', sans-serif;
		color: #323232;
	}
	
	
	.buy{
		width: 170px; 	
		height: 50px;
		border:  1px solid black;
		font-family: 'Red Hat Display', sans-serif;
		background-color: black;
		color: white;
	}

}























footer {
	width: 100%;
	height: auto;
	background-color: #181818;
}

.footerDivs {
	max-width: 1200px;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 30px;
	line-height: 30px;
	color: white;
	font-family: 'Red Hat Display', sans-serif;
	flex-wrap: wrap;
}

.footerDiv {
	width: 200px;
	height: auto;
}

.footerDivs h3 {
	margin: 30px 0;
}

.footerDivs ul li a {
	color: white;
	font-family: 'Red Hat Display', sans-serif;
	transition: 0.5s;
}

.footerDivs ul li a:hover {
	color: #c78c40;
	transition: 0.5s;
}