*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

header{
	width: 100%;
	height: 110px;
	background-color: #181818;
}

.headerDiv {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.headerLogoDiv{
	width: auto;
	height: 100%;
	margin: 0 50px;
}

.headerLogoDiv img {
	width: 100px;
	transition: 0.5s;
}

.headerLogoDiv img:hover {
	opacity: 0.5;
	transition: 0.5s;
}

.headerMenuDiv {
	width: 400px;
	height: 100%;
	margin: 0 50px;
}

.headerMenuDiv ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 0;
	align-items: center;
}

.headerMenuDiv ul li {
	width: auto;
	height: auto;
	text-decoration: none;
	list-style: none;
}

.headerMenuDiv ul li a {
	width: auto;
	height: auto;
	font-size: 18px;
	text-decoration: none;
	list-style: none;
	color: #c78c40;
	transition: 0.5s;
	font-family: 'Red Hat Display', sans-serif;
}

.headerMenuDiv ul li a:hover {
	color: #ffffff;
	transition: 0.5s;
}

.secnav{
	width: 100%;
	height: 60px;
    background-color: #dcdcdc;
}

.secnav ul {
	width: 800px;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.secnav ul li {
	width: auto;
	height: auto;
	list-style: none;
	align-items: center;
}

.secnav ul li a {
	width: auto;
	height: auto;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	transition: 0.3s;
}

.secnav ul li a:hover {
	color: #c78c40;
	transition: 0.3s;
}






@media screen and (max-width: 1000px) {

	.secnav ul {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {

	.headerLogoDiv {
		margin: 0 0 0 50px;
	}

	.headerMenuDiv {
		width: 100%;
		margin: auto 25px;
	}

}

@media screen and (max-width: 500px) {

	header {
		height: auto;
	}

	.headerMenuDiv {
		width: auto;
		height: 50px;
		margin: auto;
	}

	.headerLogoDiv {
		margin: auto;
		text-align: center;
	}

	.headerDiv {
		display: block;
	}

	.secnav {
		height: 40px;
	}

	.secnav ul li a {
		font-size: 12px;
	}

}





.fullnjpg{
	width: 100%;
    margin-top: 30px;
    margin-left: auto;
    display: inherit;
    margin-right: auto;
}

.container{
	position: relative;
}

.container p{
     position: absolute;
     top: 50%;
     left: 15%;
     color: white;
     font-size: 45px;
    font-family: 'Red Hat Display', sans-serif;
}

.necklace{
    text-align: center;
	margin-top: 40px;
    font-size: 32px; 
    font-family: 'Red Hat Display', sans-serif;
}

.neckone{
	width: 300px;
	border: 1px solid black;
	text-decoration: none;
	background-color: white;
	margin: 40px;
}

.neckone:hover{
	opacity: 50%;
	transition: 0.5s;
}

.neckoneimg{
    width: 300px;
    height: 297px;
    margin-bottom: 20px;
    background-color: white; 
    padding-left: 0px;
    padding-top: 10px; 
}

.neckone h4{
	font-size: 25px;
	text-align: center;
	color: black;
	background-color: black;
	padding-top: 10px;
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    color: #c78c40;
}

.neckone p{
	text-align: center;
	padding-top: 10px;
	text-decoration: none;
	color: black;
	background-color: black;
	color: #c78c40;
    font-family: 'Red Hat Display', sans-serif;

}

.onemoney{
	padding-bottom: 10px;
	font-size: 20px;
	text-decoration: none;
	background-color: black;
	color: #c78c40;
    font-family: 'Red Hat Display', sans-serif;

}

.contdivone a{
	text-decoration: none;
}

.contdivone{
	max-width: 1920px;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: auto;
}

.necktwoimg{
	width: 300px;
    height: 297px;
    margin-bottom: 20px;
    background-color: white; 
    padding-left: 0px;
    padding-top: 10px;
}


.contdivtwo{
	max-width: 1920px;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: auto;
}

.contdivtwo a{
    text-decoration: none;
}




@media screen and (max-width: 1200px) {
	.container p {
		font-size: 40px;
	}
}


@media screen and (max-width: 1000px) {
	.container p {
		font-size: 35px;
	}
}

@media screen and (max-width: 800px) {
	.container p {
		font-size: 30px;
	}
}


@media screen and (max-width: 600px) {
	.container p {
		font-size: 25px;	
	}
}

@media screen and (max-width: 400px) {
	.container p {
		font-size: 20px;	
	}
}







































footer {
	width: 100%;
	height: auto;
	background-color: #181818;
}

.footerDivs {
	max-width: 1200px;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 30px;
	line-height: 30px;
	color: white;
	font-family: 'Red Hat Display', sans-serif;
	flex-wrap: wrap;
}

.footerDiv {
	width: 200px;
	height: auto;
}

.footerDivs h3 {
	margin: 30px 0;
}

.footerDivs ul li a {
	color: white;
	font-family: 'Red Hat Display', sans-serif;
	transition: 0.5s;
}

.footerDivs ul li a:hover {
	color: #c78c40;
	transition: 0.5s;
}