*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

header{
	width: 100%;
	height: 110px;
	background-color: #181818;
}

.headerDiv {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.headerLogoDiv{
	width: auto;
	height: 100%;
	margin: 0 50px;
}

.headerLogoDiv img {
	width: 100px;
	transition: 0.5s;
}

.headerLogoDiv img:hover {
	opacity: 0.5;
	transition: 0.5s;
}

.headerMenuDiv {
	width: 400px;
	height: 100%;
	margin: 0 50px;
}

.headerMenuDiv ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 0;
	align-items: center;
}

.headerMenuDiv ul li {
	width: auto;
	height: auto;
	text-decoration: none;
	list-style: none;
}

.headerMenuDiv ul li a {
	width: auto;
	height: auto;
	font-size: 18px;
	text-decoration: none;
	list-style: none;
	color: #c78c40;
	transition: 0.5s;
	font-family: 'Red Hat Display', sans-serif;
}

.headerMenuDiv ul li a:hover {
	color: #ffffff;
	transition: 0.5s;
}

.secnav{
	width: 100%;
	height: 60px;
    background-color: #dcdcdc;
}

.secnav ul {
	width: 800px;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.secnav ul li {
	width: auto;
	height: auto;
	list-style: none;
	align-items: center;
}

.secnav ul li a {
	width: auto;
	height: auto;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	transition: 0.3s;
}

.secnav ul li a:hover {
	color: #c78c40;
	transition: 0.3s;
}












 













main {
	width: 100%;
	height: auto;
}

.mainContent {
	width: 100%;
	height: auto;
	padding: 100px 0;
	display: flex;
	justify-content: space-evenly;
}

.bestProductDiv {
	width: auto;
	height: auto;
}

.bestProductDiv img {
	width: 800px;
	transition: 0.5s;
}

.bestProductDiv img:hover {
	opacity: 0.5;
	transition: 0.5s;
}

.bestProductContent {
	width: auto;
	height: 100%;
}

.bestProductContent h1 {
	color: #323232;
	font-family: 'Red Hat Display', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin: 30px 0;
}

.bestProductContent p {
	color: #323232;
	font-family: 'Red Hat Display', sans-serif;
	text-align: center;
	margin: 30px 0;
}

.buttons {
	width: auto;
	height: 100%;
	margin: auto;
	text-align: center;
	margin: 200px auto auto auto;
}

.buttons button {
	width: 210px; 	
    height: 60px;
    border:  1px solid black;
    font-family: 'Red Hat Display', sans-serif;
    background-color: white;
    color: black;
	text-transform: uppercase;
	transition: 0.5s;
}

.bestProductContent button:hover {
	color: #c78c40;
	background-color: black;
	transition: 0.5s;
}


.productDescription{
	text-align: center;
	font-size: 20px;
    font-family: 'Red Hat Display', sans-serif;
}


.products {
	max-width: 1920px;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: auto;
}


.eachProduct {
	width: 300px;
	border: 1px solid rgb(67, 67, 67);
	text-align: center;
	margin: 50px;
}

.eachProduct img {
	width: 100%;
	max-height: 300px;
}

.eachProduct h4 {
	font-size: 30px;
    text-decoration: none;
    color: black;
	margin: 5px 0;
	font-family: 'Red Hat Display', sans-serif;
}

.eachProduct span {
	color: black;
	margin: 5px 0;
	font-family: 'Red Hat Display', sans-serif;
}

.eachProduct p {
	color: black;
	margin: 10px 0;
	font-family: 'Red Hat Display', sans-serif;
}




@media screen and (max-width: 1500px) {
	.bestProductDiv img {
		width: 500px;
		transition: 0.5s;
		margin: 50px 0;
	}
}


@media screen and (max-width: 1000px) {
	.mainContent {
		flex-wrap: wrap;
	}

	.buttons {
		margin: 100px auto auto auto;
	}

	.secnav ul {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {

	.headerLogoDiv {
		margin: 0 0 0 50px;
	}

	.headerMenuDiv {
		width: 100%;
		margin: auto 25px;
	}

	.mainContent {
		padding: 50px 0;
	}

	.bestProductDiv img {
		width: 300px;

	}

	.bestProductContent h1 {
		font-size: 24px;
	}

	.bestProductContent {
		width: 90%;
	}
}

@media screen and (max-width: 500px) {

	header {
		height: auto;
	}

	.headerMenuDiv {
		width: auto;
		height: 50px;
		margin: auto;
	}

	.headerLogoDiv {
		margin: auto;
		text-align: center;
	}

	.headerDiv {
		display: block;
	}

	.secnav {
		height: 40px;
	}

	.secnav ul li a {
		font-size: 12px;
	}

	.bestProductDiv img {
		width: 250px;
	}

	.bestProductContent h1 {
		font-size: 24px;
	}

	.bestProductContent {
		width: 90%;
	}

	.buttons button {
		width: 180px;
		height: 40px;
	}
}
























footer {
	width: 100%;
	height: auto;
	background-color: #181818;
}

.footerDivs {
	max-width: 1200px;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 30px;
	line-height: 30px;
	color: white;
	font-family: 'Red Hat Display', sans-serif;
	flex-wrap: wrap;
}

.footerDiv {
	width: 200px;
	height: auto;
}

.footerDivs h3 {
	margin: 30px 0;
}

.footerDivs ul li a {
	color: white;
	font-family: 'Red Hat Display', sans-serif;
	transition: 0.5s;
}

.footerDivs ul li a:hover {
	color: #c78c40;
	transition: 0.5s;
}